[package]
name = "swc-plugin-constant-importer"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[profile.release]
# Uncomment to achieve smallest possible binary size (may require more experimentation).
# Disclaimer: measure effects on runtime, results can be surprising.
# strip = "debuginfo"
# codegen-units = 1
# lto = true
# opt-level = "z"

[dependencies]
serde = "1.0.136"
serde_json = "1.0.79"
swc_plugin = "0.60.0"
sha2 = "0.10.2"

[dev-dependencies]
swc_ecma_parser = "0.105.3"
swc_ecma_transforms_testing = "0.91.0"
